*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

boby{
    height: 100%;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.container{
	max-width: 1200px;
	margin: 0px auto;
}
@media (max-width:1200px){
    .conteiner{
        max-width: 970px;
    }
}
@media (max-width:992px){
    .conteiner{
        max-width: 750px;
    }
}
@media (max-width:767px){
    .conteiner{
        max-width: none;
    }
}
.content {
	flex: 1 1 auto;

    margin: 0 1em;
    margin-bottom: 1em;
}


.header{
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 7px 0;
    margin-bottom: 15px;
}
.header__row{
    display: flex;
    flex-direction: row;
}
.header__boby{
    display: flex;
    flex-direction: row;

    width: 100%;
    align-items: center;
}
.header__text{
    flex: 1 1 auto;
   
    text-align: center;
    padding-right: 2%;
    font-size: 48px;
    color: rgb(0, 0, 0);
}
.content__row{
    display: flex;

    margin: 0px -8px;
}
.menu{
    border: 1px solid #d8ba58;
    max-width: min-content;
    min-width: max-content;
    height: max-content;

    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 9px;
}
body._pc a{  /* ------------------------------------------------------- */
    font-size: 20px;
    color: #5a4038;
}
a:visited{
    color: #5a4038;
}
li{
    list-style-type: none;
}
.content__text{
    flex: 1 1 auto;
    padding: 0px 8px;

    font-size: 24px;
}
h1{
    text-align: center;
    font-size: 35px;
    font-style: bold;
    margin-bottom: 5px;
    margin-top: 2px;
    color: #f08669;
}
p{
    text-indent: 1em;
}
li.index__poroda{
    list-style-type: square;
    
}
.content__text_li{
    width: 90%;

    padding: 5px 0 0 1em;
}
/* .picture{

} */
.picture-left{
    float: left;
	margin: 1ex 1ex 0 0;
    height:max-content;
    width: 45%;
}
@media (max-width:877px){
    .picture-left{
        float: none;
        margin: 1ex 0 0 0;
        width: 100%;
    }
}
.picture-right{
	float: right;
	margin: 1ex 0 0 1ex;
    height:max-content;
    width: 45%;
}
@media (max-width:877px){
    .picture-right{
        float: none;
        margin: 1ex 0 0 0;
        width: 100%;
    }
}

/* -------------------------------------- */

body._touch .content__row {
    display: flex;
    flex-direction: column;
}
body._touch .menu{
    font-size: 35px;
    border: none;
    padding-top: 0px;
    max-width: 90%;
    min-width: max-content;
    margin: 0 5% 0 5%;
}
body._touch ul.menu_li{
    display: flex;
    justify-content: space-between;
}
body._touch .header__text{
    flex: 1 1 auto;
   
    text-align: center;
    padding-right: 2%;
    font-size: 65px;
    color: rgb(0, 0, 0);
}
body._touch .content__text{
    flex: 1 1 auto;
    padding: 0px 8px;

    font-size: 35px;
}
body._touch h1{
    font-size: 50px;
}
body._touch .content{
	flex: 1 1 auto;

    margin: 0 1em;
    margin-bottom: 2em;
}
body._touch .picture-left{
    float: none;
    margin: 1ex 10% 1ex 10%;
    width: 80%;
}
body._touch .picture-right{
    float: none;
    margin: 1ex 10% 1ex 10%;
    width: 80%;
}

/* -------------------------------------- */

.plagin{
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.plagin_row{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.time{
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 4px 5px;
}
.hello{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
h2{
    font-size: 22px;
    color: rgb(0, 0, 0);
}
h3{
    padding-right: 5px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
button{
    margin-top: 2px;
    padding: 0 7px;
    background: #f46b45;
    border-radius: 10px;
    width: max-content;
}
button:hover{
    border-radius: 10px;
    background: #a3513b;
}

footer {
	background-color: #f5f5f5;
}
.footer__row {
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
}
.footer__text {
	color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px; 
}